.ui-body-c,
.ui-dialog.ui-overlay-c {
	background: #fff;
    background-repeat:repeat-x;
}
.mainitem {
    border: 1px black;
	background: #fff;
    background-repeat:repeat-x;
    background-image: url('images/contenttop.png');
    padding: .3em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}
p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.ui-bar-a {
    border: 0px;
	background: #e4dcb6;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #e4dcb6 )); 
    background-image: -webkit-linear-gradient(#fff, #e4dcb6 ); 
    background-image:    -moz-linear-gradient(#fff, #e4dcb6 ); 
    background-image:     -ms-linear-gradient(#fff, #e4dcb6 ); 
    background-image:      -o-linear-gradient(#fff, #e4dcb6 ); 
    background-image:         linear-gradient(#fff, #e4dcb6 );
}
.bestilknap {
    float: right;
    margin: 0em;
    padding: 0em;
}
.bestilknap form div {
    margin: 0em;
    margin-left: .3em;
}
.itemshort .title .description {
    font-style: italic;
}
