

/* Text Stylesheet */
body { 
font-size:62.5%;
font-family: Verdana, Arial, Helvetica, sans-serif; 
}

p, ul, ol, dl { 
   font-size: 1.1em;
}

 ul ul, ol ol, dl dl { /* underlister skal ikke ha' større font*/
   font-size: 1.0em;
}

.descriptiontitle, .description, .emne, .emne-overskrift{ 
   font-size: 1.0em;
}


a { 
  text-decoration: none;
  font-weight: 700;
  color: #2c6a2c;
}
a:hover{
  text-decoration: underline;
}

.title-dropdown-link{
  font-weight: 700;
}
.servicelink-text, .sheettext a, .orderbutton a, .ifield a, .orderbutton-popup a{
  font-weight: 700;
  color: #000000;
} 

a .accessKey, a .accesskey {
  text-decoration: underline;
}

.servicelink a {
  font-size: 1.1em;
  color: #000000;
}

/*
a.b_link:after { content: url(../pics/b_link.png) }
*/

a.u_link:after { content: url(../pics/b_link.png) }


h1 {font-size: 1.5em;}  
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}


/* pjo added this part*/
span.fortit {  font-weight: bold; font-size:1.3em; margin: 0 0 0.2em 0; }

table.vaerkTable td
{
vertical-align:top;
}

#searchbox h1 {
  margin: 0 1em 0.5em 0;
  float:left;
}

.leftmenuitem {
  font-size: 1.1em;
  font-weight: bold;
  color: #0E0E0E;
}

.leftmenuitemSelect  {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
}

.obs-text{
  color: #cc4333;
  font-weight: 700;
}

 
.bold {
  font-weight:    bold;
}

.error {
  font-weight:    bold;
  font-size:    110%;
  color:      #C11F1F;  
}

.alert {
  color:      #C11F1F;  
}

.obligatory {
  vertical-align: bottom;
  font-weight:    bold;
  font-size:    110%;
  color:      #C11F1F;  
}

.blue1 { color:     #3E4F57; }
.blue2 { color:     #4F626B; }
.blue3 { color:     #768E9A; }
.blue4 { color:     #C4D2D8; }
.curry { color:     #9C6F00; }

.ex    { 
  color:      #000; 
  font-size:  1em;
  font-style: italic;
}

img.stjerne { display:inline; padding:1px;}

.ob1 {
  font-size: 1.1em;
  color:     #3E4F57;
}
 
.ob2 {
  font-size: 1.1em;
  color:     #4F626B;
}

.lnk_rss { font-family: verdana; font-size: 1.4em; text-decoration: none; color: #9C6F00;}
.description_rss {font-size: 1.4em}

.highlight { background-color:yellow; color:black; font-weight:bold}
.red       { color:#c11f1f; }
.turkis    { color:#6ed3d7; }

.showBlock  { display:block; }
.showInline { display:inline; }
.hide       { display:none; }

