input, select {
  font-size: 13px;
  padding: 0 0.3em;
}

.footer_links {
  text-align: center; 
}

#hdr {
  min-width: inherit;
  height: 90px;
}

#logo {
  margin: 0.5em 0 0 0.5em;
  position: absolute;
  left: 0;
  top: 0;
}

#sogebox {
  clear: both;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#sogetext {
  position: absolute;
  left: 0.5em;
  top: 38px;
  right: 14.2em;
  width: auto;
}

#sogetext input {
  width: 100%;
}

#sogeknap {
  float: right;
  position: absolute;
  right: 0.5em;
  top: 38px;
}

#sogetype {
  float: right;
  position: absolute;
  top: 38px;
  right: 5.2em;
}


#sheets {
  min-width: inherit;
  float: inherit;
  position: absolute;
  left: 0;
  top: 58px;
}

#c-block {
  min-width: inherit;
  height: auto;
  padding: 0.5em;
  font-size: 1em;
  clear: both;
}

.mainitem {
  clear: both;
}

<style type=3D"text/css">
  #c-block {
    font-size: 1em;
  }

  /* @media screen and (max-width: 1040px) */
  @media screen and (max-width: 65em) {
    #c-block {
      font-size: 1.2em;
    }
  }

  /* @media screen and (max-width: 800px) */
  @media screen and (max-width: 50em) {
    #c-block {
      font-size: 1.4em;
    }
  }

  /* @media screen and (max-width: 640px) */
  @media screen and (max-width: 40em) {
    #c-block {
      font-size: 1.6em;
    }
  }
</style>

.sheetblock {
  min-width: 100px;
  width: auto !important;
  width: 100px;
}

.sheettext {
  margin-left: 0;
  margin-right: 0;
}

.sheetsel {
  height: 2.8em;
}

.leftsheet, .leftsheetsel {
  margin-left: 0.5em;
}

.rightsheetsel {
  width: 1em;
}

.mattype_radio_button {
  color: black;
  text-shadow: 0 0 3px white;
}

.box {
  margin: 0.5em;
}

.debug_header {
  position: absolute;
  z-index: 1;
  margin: 0;
  left: 122px;
  top: 12px;
  color: rgb(206, 0, 0);
  font-size: 150%;
  font-weight: bold;
}

.message_box {
  border: 1px solid black;
  background-color: rgb(200,200,200);
  padding: 0.2em 1em 0.2em 1em;
}

.itemshort {
display: block;
/*float: left;*/
width: 99%;
font-size: 1.2em;
min-height: 2em;
border: 1px #eee solid;
padding-left: .5em;
padding-top: .5em;
margin-top: .5em;
background: url('../pics/design/itemtop.png') repeat-x;
}

.bestilknap {
  float: right;
  margin-right: 0.2em;
}

.itemfull .description {
  padding-left: 2em;
}

.itemfull .description form {
  padding-left: 0;
}

.itemfull .description p {
  padding: 0.3em 0 0 0;
}

.footer_buttons form {
  padding: 0;
}

.description {
  padding-left: 1.5em;
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.description ul {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 1em;
  font-size: inherit;
}

.description ul li {
  display: block;
}